.editor {
    max-height: 100%;
    display: grid;
    grid-template-columns: 70vw 15vw 15vw;
    grid-template-rows: 10% 90%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.editor-toolbar-area { grid-area: 1 / 1 / 2 / 4; }
.editor-tile-selection-area { grid-area: 2 / 2 / 3 / 3; }
.editor-prop-selection-area { grid-area: 2 / 3 / 3 / 4; }
.editor-map-area { grid-area: 2 / 1 / 3 / 2; }