.editor {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 400px 400px;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.editor-tile-selection-area { grid-area: 1 / 2 / 2 / 3; }
.editor-prop-selection-area { grid-area: 1 / 3 / 2 / 4; }
.editor-map-area { grid-area: 1 / 1 / 2 / 2; }