.App {
  text-align: center;
}


button,
input{
    background: transparent;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    text-align-last: center;
}

button:hover {
    cursor: pointer;
}